#cloud-config
disable_root: false
ssh_pwauth: false
users: [root]
system_info:
  default_user:
    name: root
    lock_passwd: true
    gecos: root
    groups: [adm, sudo]
    shell: /bin/bash
    homedir: /root